[Unit]
Description=Face Authentication Monitoring Daemon
After=graphical.target

[Service]
Type=simple
ExecStart={{PYTHON_PATH}} {{PROJECT_DIR}}/monitor_daemon.py
Restart=on-failure
RestartSec=5
User={{USER}}
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/{{USER}}/.Xauthority"

[Install]
WantedBy=default.target
